.row
  .content_wrapper
    = render 'authenticated/sidebar'
    .right_product_listing
      = render 'authenticated/tabs/favourites'
      .item_listing
        %ul
          - @favourite_products.each do |product|
            %li
              %span.action_btns
                = link_to ' '.html_safe, product_path(product), class: 'btn_view_item'
                = link_to ' '.html_safe, destroy_favourite_user_path(favoured_type: 'product', favoured_id: product.id), method: :delete, class: 'btn_delete_item', confirm: 'Remove this favourite: are you sure?'
              = link_to product_path(product) do
                = image_tag product.image
                %br/
                = product.name
                %br/
                %span= product.store.name
                %br/
                %em Dress
                %br/
                %span.price
                  \&dollar;#{product.price}