.row
  .content_wrapper
    = render 'authenticated/sidebar'
    .large-10.columns
      .contact
        %h2 Change password
        = form_for @user, :url => user_path, html: {id: 'user_form'} do |f|
          - if !@user.encrypted_password.nil?
            %aside
              %ul
                %li
                  %label
                    Current Password
                    %span *
                  = password_field_tag :current_password, params[:current_password], placeholder: "current password"
                %li
                  %label
                    New Password
                    %span *
                  = f.password_field :password, placelholder: "new password"
                %li
                  %label
                    Confirm New Password
                    %span *
                  = f.password_field :password_confirmation, placeholder: "confirm new password"
          .contact-send
            %input.red-btn{name: "", onclick: "$('#user_form').submit();", type: "button", value: "Change Password"}/
            = link_to 'Cancel', edit_user_path, class: 'grey-btn'