<%= timestamp %>
<div class="sorting_area">
  <div class="itemperpage">
    <span>items per page:</span>
    <%= link_to_per_page 30 %>
    <%= link_to_per_page 60 %>
    <%= link_to_per_page 90 %>
  </div>
  <div class="pagination">
    <span>Page:</span>
    <div></div>
  </div>
  <div class="clr"></div>
</div>
<ul>
  <% @products.each do |product| %>
    <li>
      <span class="action_btns">
        <%= link_to ' '.html_safe, product_path(product), class: 'btn_view_item' %>
      </span>
      <%= link_to product_path(product) do %>
        <%= image_tag product.image %>
        <br/>
        <%= product.name %>
        <br/>
        <span>
          <%= product.store.name %>
        </span>
        <br/>
        <em>Dress</em>
        <br/>
        <span class="price">
          $<%=product.price%>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="clr"></div>
<div class="sorting_area">
  <div class="itemperpage">
    <span>items per page:</span>
    <%= link_to_per_page 30 %>
    <%= link_to_per_page 60 %>
    <%= link_to_per_page 90 %>
  </div>
  <div class="pagination">
    <span>Page:</span>
    <div></div>
  </div>
  <div class="clr"></div>
</div>
