<%= timestamp %>
<%= search_form_for @search do |f|  %>
  <%= f.label :description_or_name_spaces_match_anything  %>
  <%= f.text_field :description_or_name_spaces_match_anything  %>
  <%= f.submit  %>
<% end %>
end 
<div class="sorting_area">
  <div class="itemperpage">
    <span>items per page:</span>
    <%= link_to_per_page 30 %>
    <%= link_to_per_page 60 %>
    <%= link_to_per_page 90 %>
  </div>
  <div class="pagination">
    <span>Page:</span>
    <div></div>
  </div>
  <div class="clr"></div>
</div>
<ul>
  <% @stores.each do |store| %>
    <li>
      <span class="action_btns">
        <%= link_to ' '.html_safe, store_path(store), class: 'btn_view_item' %>
      </span>
      <%= link_to store_path(store) do %>
        <%= image_tag store.placeholder_image %>
        <br/>
        <%= store.try(:name) %>
        <br/>
        <span>
          <%= store.city %>
          , #{store.state}
        </span>
        <br/>
        <em>
          <%= store.description.truncate(30) %>
        </em>
        <br/>
      <% end %>
      <br/>
      <%= link_to 'View Store', store, class: 'btn_red' %>
      <br/>
      <br/>
      <div class="clr"></div>
    </li>
  <% end %>
</ul>
<div class="clr"></div>
<div class="sorting_area">
  <div class="itemperpage">
    <span>items per page:</span>
    <%= link_to_per_page 30 %>
    <%= link_to_per_page 60 %>
    <%= link_to_per_page 90 %>
  </div>
  <div class="pagination">
    <span>Page:</span>
    <div></div>
  </div>
  <div class="clr"></div>
</div>
