.large-2.columns
  .leftmenu
    = link_to 'About', page_path('about')
    = link_to 'How it Works', page_path('how_it_works')
    = link_to 'Support', page_path('support/shoppers')
    = link_to 'Jobs', page_path('jobs/full-time')
    = link_to 'Terms of Use', page_path('terms')
    = link_to 'Copyright', page_path('copyright')
    = link_to 'Privacy Policy', page_path('privacy')
    = link_to 'Contact', page_path('contact')