.row
  = render 'breadcrumb'
  = render 'spotlights'
  = search_form_for @search, url: recent_products_path do |f| 
    = f.label :description_or_name_spaces_match_anything 
    = f.text_field :description_or_name_spaces_match_anything 
    = f.submit 
  end 
  %div{style: "padding:10px 0; float:left; width:100%;"}
  .content_wrapper
    = render 'application/filters/products/recent'
    .right_product_listing
      .clr
      #listing.item_listing
        = render 'listings/products/recent'
      .clr
