<div class="row">
  <%= render 'breadcrumb' %>
  <%= render 'spotlights' %>
  <%= search_form_for @search, url: recent_products_path, :html => {:remote => true ,  :class => "form-search"}  do |f|  %>
    <%= f.hidden_field :gender_cont %>


  <ul class="inline-list">
    <li>
      <a href="#" data-dropdown="drop1" class="button dropdown small secondary">Gender</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li><a href="#" class="gender_select" data-gender="men">Male</a></li>
        <li><a href="#" class="gender_select" data-gender="female">Female</a></li>
      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="drop1" class="button dropdown small secondary">Recent</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li><a href="#">...</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="category_dropdown" class="button dropdown small secondary">Category</a><br>
      <div class="f-dropdown" id="category_dropdown" data-dropdown-content>
        <%SubCategory.all.each do |subcategory|%>
          <%= check_box_tag('q[sub_category_id_eq_any][]', subcategory.id ) %><%=subcategory.name%>
        <%end%>
      </div>
    </li>
    
    <li>
      <ul id="price_slider" class="inline-list">    
        <li> 
          <%= f.label :price_gteq, "PRICE:" %>  
        </li>
        <li style="margin-left:0px">
          <%= f.text_field :price_gteq, value: 0, :class=> "price-input"%>
        </li>
        <li style="margin-left:0px">
          <%= f.label :price_lteq, "-" %>
        </li>
        <li style="margin-left:0px">
          <%= f.text_field :price_lteq, value: 500, :class=> "price-input"%> 
        </li>   
        <li id="slider-range" style="width:150px; margin-top:13px"></li>           
      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="color_drop" class="button dropdown small secondary ">C</a><br>
      <div class="colors_sort f-dropdown" id="color_drop" data-dropdown-content >
        <ul>
        <% Color.all.each do |color| %>
          <li>
            <a class="<%= color.name %> colors" href="#"> </a>
              <%= check_box_tag('q[colors_id_eq_any][]', color.id ) %>
          </li>
        <% end %>
        </ul>
        <div class="clr"></div>
      </div>
    </li>
    <li>
      <a href="/shop" class="button small secondary">X Clear</a>
    </li>
  </ul>

    <!--label for="amount">Price range:</label>
    <input type="text" id="amount" readonly/-->

    <div stlye="display:none">
     <%= f.submit  %>
    </div>
  <% end %>
  




  <div style="padding:10px 0; float:left; width:100%;"></div>
  <div class="content_wrapper">
    <div class="right_product_listing">
      <div class="clr"></div>
      <div class="item_listing" id="renew_listings">
        <%= render 'listings/products/recent' %>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function updateSlider() {
      var val1 = $( "#slider-range" ).slider( "values", 0 );
      var val2 = $( "#slider-range" ).slider( "values", 1 );
      if (val2==500){
        $( "#amount" ).val( "$" + val1 + " - $" + val2 + "+");
      }
      else{
        $( "#amount" ).val( "$" + val1 + " - $" + val2);
      }
      $('#q_price_gteq').val(val1);
      $('#q_price_lteq').val(val2);
    }

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 0, 500 ],
      slide: function( event, ui ) {
        updateSlider();
      },
      change: function(event,ui){
        $('#search_button').click();
      }
    });

    $('.gender_select').click(function(){
      var gender= $(this).data('gender');
      $('#q_gender_cont').val(gender);
      $('#product_search').submit();
      return false;
    });

</script>
