<div class="row">
  <%= render 'breadcrumb' %>
  <%= render 'spotlights' %>
  <%= search_form_for @search, url: recent_products_path, :html => {:remote => true ,  :class => "form-search"}  do |f|  %>
    <%= f.hidden_field :gender_cont %>


  <ul class="inline-list" style="padding-top:20px; margin-bottom:0px">
    <li>
      <a href="#" data-dropdown="drop1" class="button dropdown small secondary">Gender</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown tiny">
        <li><a href="#" class="gender_select" data-gender="men">Male</a></li>
        <li><a href="#" class="gender_select" data-gender="female">Female</a></li>
      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="drop2" class="button dropdown small secondary">Recent</a><br>
      <ul id="drop2" data-dropdown-content class="f-dropdown">
        <li><%= sort_link @search , :price_desc, 'PRICE (HIGH -LOW)',  remote: true %></li>
        <li><%= sort_link @search, :price_asc, 'PRICE (LOW - HIGH)',remote: true %></li>
        <li><a href="#">DISCOUNT (HIGH TO LOW)</a></li>


      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="category_dropdown" class="button dropdown small secondary">Product Type</a><br>
      <div class="f-dropdown medium" id="category_dropdown" data-dropdown-content>
        <div class="row">
          <%SubCategory.all.each do |subcategory|%>
            <div class="large-4 columns categories_check" style="padding-right:10px; text-transform:uppercase"><%= check_box_tag('q[sub_category_id_eq_any][]', subcategory.id ) %><%=subcategory.name%></div>
          <%end%>

        </div>
          <%= f.submit 'APPLY', class: 'button medium btn-black' %>
          <a href="#" id="categories_clear" class="button medium secondary">CLEAR</a>
      </div>
    </li>
    
    <li>
      <ul id="price_slider" class="inline-list">    
        <li style="padding-top:3px"> 
          PRICE: 
        </li>
        <li class="small_dollar"><span >$</span></li>
        <li style="margin-left:0px">
          <%= f.text_field :price_gteq, value: 0, :class=> "price-input"%>
        </li>
        <li style="margin-left:0px">
          -
        </li>
        <li class="small_dollar"><span >$</span></li>
        <li style="margin-left:0px">
          <%= f.text_field :price_lteq, value: 500, :class=> "price-input"%> 
        </li>   
        <li id="slider-range" style="width:150px; margin-top:11px"></li>           
      </ul>
    </li>
    <li>
      <a href="#" data-dropdown="color_drop" class="button dropdown small secondary" style="padding-bottom:5px"><img src="assets/color-select.png"></a><br>
      <div class="colors_sort f-dropdown small" id="color_drop" data-dropdown-content >
      <div>CHOOSE COLOR</div>
        <ul class="row">
          <% Color.all.each do |color| %>
           
            <div  style="background-color: <%=color.name%>" class="colors_check large-4 columns categories_check" style="padding-right:10px; text-transform:uppercase">
                <%= check_box_tag('q[colors_id_eq_any][]', color.id ) %>
                <a class="<%= color.name %> colors" href="#"> </a>

            </div>
          <% end %>
        </ul>
          <%= f.submit 'APPLY', class: 'button medium btn-black' %>
          <a href="#" id="color_clear" class="button medium secondary">CLEAR</a>
        <div class="clr"></div>
      </div>
    </li>
    <li>
      <a href="/shop" class="button small secondary">X Clear</a>
    </li>
  </ul>
  <div class="checkbox">  
      <input id="check1" type="checkbox" name="check" value="check1">  
      <label for="check1">Checkbox No. 1</label>  
  </div>  
    <!--label for="amount">Price range:</label>
    <input type="text" id="amount" readonly/-->

    <div stlye="display:none">
     <%= f.submit  %>
    </div>
  <% end %>
  




  <div style="padding:10px 0; float:left; width:100%;"></div>
  <div class="content_wrapper">
    <div class="right_product_listing">
      <div class="clr"></div>
      <div class="item_listing" id="renew_listings">
        <%= render 'listings/products/recent' %>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function updateSlider() {
      var val1 = $( "#slider-range" ).slider( "values", 0 );
      var val2 = $( "#slider-range" ).slider( "values", 1 );
      if (val2==500){
        $( "#amount" ).val( "$" + val1 + " - $" + val2 + "+");
      }
      else{
        $( "#amount" ).val( "$" + val1 + " - $" + val2);
      }
      $('#q_price_gteq').val(val1);
      $('#q_price_lteq').val(val2);
    }

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 0, 500 ],
      slide: function( event, ui ) {
        updateSlider();
      },
      change: function(event,ui){
        $('#search_button').click();
      }
    });

    $('.gender_select').click(function(){
      var gender= $(this).data('gender');
      $('#q_gender_cont').val(gender);
      $('#product_search').submit();
      return false;
    });

    $('#categories_clear').click(function(){
      $('.categories_check input:checkbox').removeAttr('checked')
      return false;
    });
    $('#color_clear').click(function(){
      $('.colors_check input:checkbox').removeAttr('checked')
      return false;
    });




</script>
