.row
  .content_wrapper
    = render 'pages/sidebar'
    .large-10.columns
      #example-one.jobs-sec
        %ul.nav
          %li= link_to 'Shoppers Guide', page_path('support/shoppers')
          %li= link_to 'Sellers Guide', page_path('support/sellers')
          %li= link_to 'Who Can Become A Seller?', page_path("support/become_seller"), class: 'current'
          %li= link_to 'Contact Us', page_path("support/contact_us")
        .list-wrap
          #become-seller
            .become-seller
              %p
                Anyone that creates custom made clothing or accessories in stock or made to order can be a seller.
                %br/
                Here are our categories:
              %section
                .full-pd-list
                  .pd-list
                    %div
                      %h4 Jumpsuits:
                      %ul
                        %li Bags
                        %li Belts
                        %li Bracelets
                        %li Cases (for cell phones)
                        %li Crowns
                        %li Gloves
                    %div
                      %h4
                      %ul
                        %li Hats
                        %li Head Bands
                        %li Hair Decor
                        %li Necklaces
                        %li Rings
                        %li Scarves
                    %div
                      %h4
                      %ul
                        %li Sunglasses
                        %li Ties
                        %li Watches
                        %li Wallets
                        %li Rings
                        %li Anklets
              %section
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Dresses:
                      %ul
                        %li Mini
                        %li Midi
                        %li Maxi
                        %li Casual
                        %li Cocktail
                    %div
                      %h4
                      %ul
                        %li Day
                        %li Evening
                        %li Jersey
                        %li Party
                        %li Wedding
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Jumpsuits:
                      %ul
                        %li Bodysuits
                        %li Overalls
                        %li Playsuits
                        %li Jumpers
                        %li Rompers
              %section
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Intimates:
                      %ul
                        %li Lingerie
                        %li Underwear
                        %li Thongs
                        %li Bras
                        %li Sleepwear
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Outerwear:
                      %ul
                        %li Blazers
                        %li Coats
                        %li Jackets
                        %li Vest
              %section
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Pants:
                      %ul
                        %li Jeans
                        %li Leggings
                        %li Harem
                        %li Sweatpants
                        %li Corduroy
                    %div
                      %h4
                      %ul
                        %li Capris
                        %li Trousers
                        %li Casual
                        %li Casual
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Skirts:
                      %ul
                        %li Mini
                        %li Midi
                        %li Maxi
                        %li Casual
                        %li Cocktail
                    %div
                      %h4
                      %ul
                        %li Day
                        %li Evening
                        %li Jersey
                        %li Party
              %section
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Swimwear:
                      %ul
                        %li Bikini
                        %li Full
                .half-pd-list
                  .pd-list
                    %div
                      %h4 Tops:
                      %ul
                        %li Blouses
                        %li Cardigans
                        %li T-Shirts
                    %div
                      %h4
                      %ul
                        %li Tanks
                        %li Sweaters
                        %li Shirts
              %section
                .pd-red
                  %span No Shoes
                  %span No Used Products
                  %span No Vintage
                  %span No Supplies
                  %span No Electronics
                  %span No Boutiques
              %section
                .join-now
                  %h1 Join now
                  %ul
                    %li Be Apart of a Selective Community of Creative Designers Across the Globe
                    %li Follow Your Passions
                    %li Build Your Brand and Be Your Own Boss
                  %a.join-now-link{href: "#"} View Complete Guide on Launching Your Store >>
                  %a.launch-store{href: "#"} Launch Your Store Now for Free